{% set hay_filtros = false %}

{% set universidad = view.exposed_raw_input.field_universidad_del_programa_target_id_verf|default('') %}
{% set tipo = view.exposed_raw_input.field_tipo_de_programa_target_id|default('') %}
{% set title = view.exposed_raw_input.title|default('') %}

{% if title|trim != '' %}
	{% set hay_filtros = true %}
{% endif %}

{% if universidad != '' and universidad != 'All' %}
	{% set hay_filtros = true %}
{% endif %}

{% if tipo != '' and tipo != 'All' %}
	{% set hay_filtros = true %}
{% endif %}

<section class="du-generic-swiper du-swiper-program">
	<div class="du-generic-swiper__container du-swiper-oferta__container">
		<div class="du-generic-swiper__header">
			{% if hay_filtros %}
				<h3>
					Mostrando
					<span>{{ view.total_rows }}
						{{ view.total_rows == 1 ? 'programa' : 'programas' }}</span>
				</h3>
			{% else %}
				<h3>Programas Recomendados</h3>
			{% endif %}
		</div>

		{% if rows %}
			{% if hay_filtros %}
				<div class="du-programs-grid" id="card__diplomat">
					{% for row in rows %}
						{{ row.content }}
					{% endfor %}
				</div>
			{% else %}
				<div class="swiper" id="programa-diplomat-swiper">
					<div class="swiper-wrapper" id="card__diplomat">
						{% for row in rows %}
							{{ row.content }}
						{% endfor %}

						{% if view.pager %}
							<div class="du-pagination">
								{{ view.pager }}
							</div>
						{% endif %}

					</div>

					{# 
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
						<div class="swiper-pagination"></div> 
					#}

				</div>

				{# <div class="du-generic-swiper__actions">
									<button class="du-btn du-btn--secundary-dark" id="btn-more-programs">
										<svg width="20" height="14" viewbox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.73072 4.84077V11.3204M0.931527 4.34797C0.36454 4.12221 0.36454 3.51312 0.931527 3.28736C1.67493 2.99134 2.78552 2.57119 4.35642 2.02724C6.53903 1.27151 8.02994 0.823397 8.83037 0.596269C9.28111 0.46791 9.77043 0.46791 10.2212 0.596269C11.0212 0.823397 12.5129 1.27151 14.6951 2.02724C16.2664 2.57119 17.3766 2.99134 18.1204 3.28736C18.6866 3.51312 18.6866 4.12221 18.1204 4.34797C17.3766 4.64399 16.266 5.06414 14.6951 5.60809C12.5125 6.36382 11.0216 6.81194 10.2212 7.03907C9.77043 7.16742 9.28111 7.16742 8.83037 7.03907C8.03035 6.81194 6.53862 6.36382 4.35642 5.60809C2.78511 5.0638 1.67493 4.64399 0.931527 4.34797Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M4.23424 5.56543C4.20539 6.02441 4.19144 6.48394 4.19239 6.94354C4.19239 7.9987 4.25762 8.66133 4.32162 9.05795C4.37783 9.40444 4.6166 9.69909 4.98912 9.86108C5.70955 10.1748 7.17297 10.6383 9.52584 10.6383C11.8787 10.6383 13.3421 10.1752 14.0626 9.86142C14.4351 9.69943 14.6739 9.40478 14.7301 9.05863C14.7941 8.66167 14.8593 7.99904 14.8593 6.94423C14.8602 6.48451 14.8463 6.02486 14.8174 5.56577M2.96159 12.3435C2.96159 12.6148 2.83192 12.875 2.6011 13.0669C2.37028 13.2588 2.05722 13.3666 1.7308 13.3666C1.40437 13.3666 1.09131 13.2588 0.860492 13.0669C0.629673 12.875 0.5 12.6148 0.5 12.3435C0.5 12.0721 0.629673 11.8119 0.860492 11.62C1.09131 11.4282 1.40437 11.3204 1.7308 11.3204C2.05722 11.3204 2.37028 11.4282 2.6011 11.62C2.83192 11.8119 2.96159 12.0721 2.96159 12.3435Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>
										Ver todos los
										<span class="du-btn__link">programas</span>
									</button>
								</div> #}
			{% endif %}
		{% else %}
			<div class="du-generic-swiper__header">
				<h3>Ups, no hay resultados
					<span>por ahora.</span>
				</h3>
			</div>
		{% endif %}
	</div>
</section>
