<section class="du-bar-menu">
  <ul class="du-bar-menu__list">

    <li class="du-bar-menu__item">
      <a href="#plan-estudios" class="du-bar-menu__link">
        <span class="du-bar-menu__icon">
          <!-- SVG ORIGINAL -->
        </span>
        <span class="du-bar-menu__text">Plan de estudio</span>
      </a>
    </li>

    <div class="du-bar-menu__divider"></div>

    <li class="du-bar-menu__item">
      <a href="#docentes" class="du-bar-menu__link">
        <span class="du-bar-menu__icon">
          <!-- SVG ORIGINAL -->
        </span>
        <span class="du-bar-menu__text">Docentes</span>
      </a>
    </li>

    <div class="du-bar-menu__divider"></div>

    <li class="du-bar-menu__item">
      <a href="/programas" class="du-bar-menu__link">
        <span class="du-bar-menu__icon">
          <!-- SVG ORIGINAL -->
        </span>
        <span class="du-bar-menu__text">+ Programas</span>
      </a>
    </li>

  </ul>
</section>



<section class="du-hero">

  <div class="du-hero__container">

    <div
      class="du-hero__bg"
      style="background-image:url('{{ file_url(node.field_imagen_programa.entity.fileuri) }}')">
    </div>

    <div class="du-hero__overlay"></div>

    <div class="du-hero__wrapper">

      <div class="du-hero__content">

        <h1 class="du-hero__title">
          {{ node.label }}
        </h1>

        <div class="du-hero__text">
          {{ content.field_descripcion_corta }}
        </div>

        <div class="du-hero__actions">

          <span class="du-program-duration">
            {{ node.field_duracion_programa.value }}
          </span>

        </div>

      </div>

    </div>

  </div>


  <div class="du-cost-box">

    <h2 class="du-cost-box__title">Inversión</h2>

    <div class="du-cost-box__content">
      <p class="du-cost-box__subtitle">Precio Regular</p>

      <p class="du-cost-box__price">
        {{ node.field_inversion_precio_regular.value }}
      </p>

    </div>

  </div>

</section>



<section class="du-media-block">

  <div class="du-media-block__container">

    <div class="du-media-block__video-side">

      <div class="du-video-player">

        <iframe
          src="https://www.youtube.com/embed/{{ node.field_id_video_youtube.value }}"
          frameborder="0"
          allowfullscreen>
        </iframe>

      </div>

    </div>

    <div class="du-media-block__text-side">

      <h2 class="du-media-block__title">
        <span>Descripción</span> General
      </h2>

      <p class="du-media-block__description">
        {{ node.field_descripcion_general.value }}
      </p>

    </div>

  </div>

</section>



<section class="du-accordion-block">

  <div class="du-accordion-block__container">

    <div class="du-accordion-block__items">


      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">

          <div class="du-accordion-block__title-group">
            <!-- SVG ORIGINAL -->
            <h3>Objetivos de aprendizaje</h3>
          </div>

          <span class="du-icon-trigger__plus"></span>

        </button>

        <div class="du-accordion-block__body">

          <p>
            {{ node.field_objetivos_de_aprendizaje.value }}
          </p>

        </div>

      </div>



      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">

          <div class="du-accordion-block__title-group">
            <!-- SVG ORIGINAL -->
            <h3>Público objetivo</h3>
          </div>

          <span class="du-icon-trigger__plus"></span>

        </button>

        <div class="du-accordion-block__body">

          <p>
            {{ node.field_publico_objetivo.value }}
          </p>

        </div>

      </div>



      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">

          <div class="du-accordion-block__title-group">
            <!-- SVG ORIGINAL -->
            <h3>Requisitos</h3>
          </div>

          <span class="du-icon-trigger__plus"></span>

        </button>

        <div class="du-accordion-block__body">

          <p>
            {{ node.field_requisitos.value }}
          </p>

        </div>

      </div>


    </div>

  </div>

</section>



<section id="plan-estudios" class="du-panel-block">

  <div class="du-panel-block__container">

    <div class="du-panel-block__header">

      <h2><span>Plan</span> de estudios</h2>

      {% if node.field_plan_de_estudios.entity %}
      <a
        href="{{ file_url(node.field_plan_de_estudios.entity.fileuri) }}"
        class="du-link-download"
        target="_blank">

        Descargar Plan
        <span class="du-icon__next"></span>

      </a>
      {% endif %}

    </div>

  </div>

</section>



<section class="du-footer-info">

  <div class="du-footer-info__text">

    <h2 class="du-footer-info__title">
      ¿Listo para dar el siguiente paso en tu <span>carrera</span> ?
    </h2>

    <p class="du-footer-info__description">
      Únete a los profesionales que han transformado su práctica clínica con DermaU.
    </p>

  </div>

  <div class="du-footer-info__image">

    <img
      src="{{ file_url(node.field_imagen_programa.entity.fileuri) }}"
      alt="{{ node.label }}" />

    <a href="#" class="du-footer-info__link">
      Solicitar Información
    </a>

  </div>

</section>
