{#
Template para tipo de contenido Programa
#}

<section class="du-hero">
  <div class="du-hero__container">

    <div class="du-hero__bg"
      style="background-image:url('{{ file_url(node.field_imagen_programa.entity.fileuri) }}')">
    </div>

    <div class="du-hero__overlay"></div>

    <div class="du-hero__wrapper">
      <div class="du-hero__content">

        <h1 class="du-hero__title">
          {{ node.label }}
        </h1>

        <div class="du-hero__text">
          {{ content.field_descripcion_corta }}
        </div>

        <div class="du-hero__actions">
          <span class="du-program-duration">
            Duración: {{ node.field_duracion_programa.value }}
          </span>
        </div>

      </div>
    </div>

  </div>

  <div class="du-form-register">
    <div class="du-form-register__container">
      <h2 class="du-form-register__subtitle">Solicita más información</h2>

      <form class="du-form-register__form">

        <div class="du-form-register__form-group-container">

          <div class="du-form-register__form-group">

            <input type="text"
              placeholder="Nombre"
              class="du-form-input" />

            <input type="text"
              placeholder="Apellido"
              class="du-form-input" />

          </div>

          <div class="du-form-register__form-group">

            <input type="tel"
              placeholder="Teléfono"
              class="du-form-input" />

            <input type="email"
              placeholder="Email"
              class="du-form-input" />

          </div>

        </div>

        <button class="du-btn du-btn--primary">
          Contáctame
        </button>

      </form>
    </div>

    <div class="du-cost-box">

      <h2 class="du-cost-box__title">
        Inversión
      </h2>

      <div class="du-cost-box__content">
        <p class="du-cost-box__subtitle">
          Precio Regular
        </p>

        <p class="du-cost-box__price">
          {{ node.field_inversion_precio_regular.value }}
        </p>
      </div>

    </div>
  </div>
</section>



<section class="du-media-block">

  <div class="du-media-block__container">

    <div class="du-media-block__video-side">

      <div class="du-video-player">

        <iframe
          src="https://www.youtube.com/embed/{{ node.field_id_video_youtube.value }}"
          allowfullscreen>
        </iframe>

      </div>

    </div>

    <div class="du-media-block__text-side">

      <h2 class="du-media-block__title">
        <span>Descripción</span> General
      </h2>

      <div class="du-media-block__description">
        {{ content.field_descripcion_general }}
      </div>

    </div>

  </div>

</section>



<section class="du-accordion-block">

  <div class="du-accordion-block__container">

    <div class="du-accordion-block__items">


      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">
          <h3>Objetivos de aprendizaje</h3>
        </button>

        <div class="du-accordion-block__body">
          {{ content.field_objetivos_de_aprendizaje }}
        </div>

      </div>


      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">
          <h3>Público objetivo</h3>
        </button>

        <div class="du-accordion-block__body">
          {{ content.field_publico_objetivo }}
        </div>

      </div>


      <div class="du-accordion-block__item">

        <button class="du-accordion-block__header">
          <h3>Requisitos</h3>
        </button>

        <div class="du-accordion-block__body">
          {{ content.field_requisitos }}
        </div>

      </div>


    </div>

  </div>

</section>



<section class="du-panel-block">

  <div class="du-panel-block__container">

    <div class="du-panel-block__header">

      <h2>
        <span>Plan</span> de estudios
      </h2>

      {% if node.field_plan_de_estudios.entity %}
      <a
        href="{{ file_url(node.field_plan_de_estudios.entity.fileuri) }}"
        class="du-link-download"
        target="_blank">

        Descargar Plan
        <span class="du-icon__next"></span>

      </a>
      {% endif %}

    </div>

  </div>

</section>



<section class="du-footer-info">

  <div class="du-footer-info__text">

    <h2 class="du-footer-info__title">
      ¿Listo para dar el siguiente paso en tu <span>carrera</span> ?
    </h2>

    <p class="du-footer-info__description">
      Únete a más profesionales que han transformado su práctica clínica con DermaU.
    </p>

  </div>

  <div class="du-footer-info__image">

    <img
      src="{{ file_url(node.field_imagen_programa.entity.fileuri) }}"
      alt="{{ node.label }}" />

    <a href="#" class="du-footer-info__link">
      Solicitar Información
    </a>

  </div>

</section>
