{{ attach_library('derma_theme/programas-filter') }}

<form{{attributes}}>
	<div class="du-filters">
		<div class="du-search">
			{{ form.title|without('label') }}
		</div>

		<div class="du-select">
			{{ form.field_universidad_del_programa_target_id }}
		</div>

		<div class="du-select">
			{{ form.field_tipo_de_programa_target_id }}
		</div>
	</div>

	<div style="display:none;">
		{{ form.actions }}
	</div>

	{{ form.form_build_id }}
	{{ form.form_token }}
	{{ form.form_id }}
</form>
