{% set first_rendered = true %}
{% set first_rendered_sect = true %}

		<div class="swiper swiper-container" id="sw-convenio-agreements">
			<div class="swiper-wrapper">
				{% if rows %}
					{% for row in rows %}
						{% set node = row.content['#row']._entity %}
						{% if node.field_logo.entity %}
							<div class="swiper-slide{{ first_rendered ? ' du-agreements__slide' : '' }}" data-action="block-{{ node.id() }}">
								<img src="{{ file_url(node.field_logo.entity.fileuri) }}" alt="{{ node.label }}">
							</div>
							{% set first_rendered = false %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>


{% if rows %}
	{% for row in rows %}
		{% set node = row.content['#row']._entity %}
		{% set block_id = 'block-' ~ node.id() %}

		<section class="du-convenio-block {{ first_rendered_sect ? 'active' : '' }}" id="{{ block_id }}">
			<div class="du-convenio-block__container">
				<div class="du-convenio-block__header">
					<h2 class="du-convenio-block__title">
						{{ node.label }}
					</h2>

					<div class="du-convenio-block__info">
						{% if node.field_ciudad_convenio.value %}
							<span>📍{{ node.field_ciudad_convenio.value }}</span>
						{% endif %}

						{% if node.field_ano_de_funcacion.value %}
							<span>🏛{{ node.field_ano_de_funcacion.value }}</span>
						{% endif %}

						<span>📚
							{{ node.field_programas_vinculados_conve|length }}
							programas</span>
					</div>

					{% if node.field_descripcion_corta_convenio.value %}
						<p class="du-convenio-block__description">
							{{ node.field_descripcion_corta_convenio.value }}
						</p>
					{% endif %}
				</div>

				{% if node.field_programas_vinculados_conve is not empty %}
					<h3 class="du-convenio-block__subtitle">Programas vinculados</h3>

					<div class="du-convenio-block__tags">
						{% for item in node.field_programas_vinculados_conve %}
							{% if item.entity %}
								{% set programa = item.entity %}

								<div class="du-convenio-block__tag">
									{% if programa.field_tipo_de_programa.entity %}
										<span class="tag tag--diplomado">
											{{ programa.field_tipo_de_programa.entity.label }}
										</span>
									{% endif %}
									<span>{{ programa.label }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}

				{% if node.field_docentes_vinculados is not empty %}
					<h3 class="du-convenio-block__subtitle">Docentes vinculados</h3>

					<div class="du-swiper-expert">
						<div class="swiper">
							<div class="swiper-wrapper">
								{% for item in node.field_docentes_vinculados %}
									{% if item.entity %}
										{% set docente = item.entity %}

										<div class="swiper-slide">
											<article class="du-card__expert">
												<div class="du-card__expert-main">
													{% if docente.field_foto_docente.entity %}
														<img src="{{ file_url(docente.field_foto_docente.entity.fileuri) }}" alt="{{ docente.label }}" class="du-card__expert-img" />
													{% endif %}
													<div class="du-card__expert-intro">
														<h3 class="du-card__expert-title">
															{{ docente.label }}
														</h3>
														{% if docente.field_cargo_docente.value %}
															<p class="du-card__expert-role">{{ docente.field_cargo_docente.value }}</p>
														{% endif %}
													</div>
												</div>
											</article>
										</div>
									{% endif %}
								{% endfor %}
							</div>

							<div class="swiper-button-next"></div>
							<div class="swiper-button-prev"></div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				{% endif %}
			</div>
		</section>
	{% endfor %}
{% endif %}
