{% set tipo = row._entity.field_tipo_de_programa.entity.label %}

<div class="du-program-card">
	<div class="du-program-card__image">
		{{ fields.field_imagen_programa.content }}
	</div>

	<div class="du-program-card__body">
		<div class="du-program-card__tag">
			{{ fields.field_tipo_de_programa.content }}
		</div>

		<h3 class="du-program-card__title">
			{{ fields.title.content }}
		</h3>

		<div class="du-program-card__description">
			{{ fields.field_descripcion_corta.content }}
		</div>

		<div class="du-program-card__meta">

			{% if tipo == 'Webinars' %}
				
				<span>{{ row._entity.field_fecha.0.value|date("d/m/Y") }}</span>
				<span>{{ fields.field_duracion_programa.content }}</span>
				{% set cupos = row._entity.field_cupos.value %}
				<span>{{ cupos ? cupos : 0 }} cupos</span>

			{% else %}
				
				<span>{{ fields.field_duracion_programa.content }}</span>
				<span>{{ row._entity.get('field_modulos')|length }} módulos</span>
				{% set cupos = row._entity.field_cupos.value %}
				<span>{{ cupos ? cupos : 0 }} cupos</span>

			{% endif %}

		</div>

		<div class="du-program-card__action">
			{{ fields.view_node.content }}
		</div>
	</div>
</div>