<form{{ attributes }}>
  <div class="du-filters">

    <div class="du-search">
      {{ form.title }}
    </div>

    <div class="du-select">
      {{ form.field_universidad_del_programa_target_id }}
    </div>

    <div class="du-select">
      {{ form.field_tipo_de_programa_target_id }}
    </div>

  </div>

  {{ form.actions }}
</form>