{{ attach_library('derma_theme/programas-filter') }}

<section class="du-seach">
	<div class="du-seach__container">
		<div class="du-seach__content">
			<form{{attributes}}>
				<div class="du-seach__input">
					{% if form.title.children.value is defined %}
						{{ form.title.children.value
              .setAttribute('placeholder', 'Buscar programa...')
              .setAttribute('id', 'program-search') }}
					{% elseif form.title.widget[0] is defined %}
						{{ form.title.widget[0]
              .setAttribute('placeholder', 'Buscar programa...')
              .setAttribute('id', 'program-search') }}
					{% else %}
						{{ form.title }}
					{% endif %}
				</div>
				<div class="du-filters">
					<div class="du-search"></div>

					<div class="du-select">
						{% if form.field_universidad_del_programa_target_id_verf is defined %}
							{% set universidad = form.field_universidad_del_programa_target_id_verf %}

							{{ universidad|without('label') }}
						{% endif %}
					</div>

					<div class="du-select">
						{{ form.field_tipo_de_programa_target_id|without('label') }}
					</div>
				</div>

				<div style="display:none;">
					{{ form.actions }}
				</div>

				{{ form.form_build_id }}
				{{ form.form_token }}
				{{ form.form_id }}
			</form>
		</div>
	</div>
</section>
