<section class="du-about-block">
	<div class="du-about-block__container">
		<div class="du-about-block__wrapper" id="card__about">
			<article class="du-card__info" data-variation="">
				<div class="du-card__info-wrapper  left">
					<h2 class="du-card__info-title">
						{{ mission_title_normal }}
						<span>{{ mission_title_color }}</span>
					</h2>
				</div>

				<div class="du-card__info-wrapper  right">
					<span class="du-card__info-quote du-card__info-quote--start">“</span>
					<p class="du-card__info-text">{{ mission_description }}</p>
					<span class="du-card__info-quote du-card__info-quote--end">”</span>
				</div>
			</article>
			<article class="du-card__info" data-variation="">
				<div class="du-card__info-wrapper left">
					<h2 class="du-card__info-title">
						{{ vision_title_normal }}
						<span>{{ vision_title_color }}</span>
					</h2>
				</div>

				<div class="du-card__info-wrapper right">
					<span class="du-card__info-quote du-card__info-quote--start">“</span>
					<p class="du-card__info-text">{{ vision_description }}</p>
					<span class="du-card__info-quote du-card__info-quote--end">”</span>
				</div>
			</article>
		</div>
	</div>
</section>
