{#
/**
 * @file
 * Template para Dermau Info Block.
 */
#}

<div class="dermau-info-block">
  {% if imagen.url %}
    <div class="dermau-info-block__image">
      <img src="{{ imagen.url }}" alt="{{ imagen.alt }}">
    </div>
  {% endif %}

  <div class="dermau-info-block__content">
    {% if titulo_normal %}
      <div class="dermau-info-block__title-normal">{{ titulo_normal }}</div>
    {% endif %}

    {% if titulo_resaltado %}
      <div class="dermau-info-block__title-highlight">{{ titulo_resaltado }}</div>
    {% endif %}

    {% if descripcion %}
      <div class="dermau-info-block__description">{{ descripcion }}</div>
    {% endif %}
  </div>
</div>